.side-nav-content {
  display: flex;
  justify-content: space-around;
  background-color: #004bad7c;
  padding: 20px;
  align-items: center;
  text-align: center;
  height: auto;
}

.side-brand-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
}
.side-brand-list li {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  color: #000;
}

.side-brand-list li a {
  text-decoration: none;
  color: inherit; /* Inherit text color from parent (black) */
  display: block;
  height: 100%;
  width: 100%;
}

/* Hover styles for list items */
.side-brand-list li:hover {
  border-color: #004aad; /* Blue border when hovered */
  background-color: #004aad; /* Blue background when hovered */
}

/* Hover styles for links inside list items */
.side-brand-list li:hover a {
  color: #fff; /* White text when the link is hovered */
}
