/* About.css */

.text-white {
  color: black;
  margin-top: 50px;
  padding: 50px 120px;
}
.centered {
  color: black;
  align-items: center;
  text-align: center;
 
  padding: 25px;
}
.centered h4 {
  margin-top: 25px;
}
