body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: white;
}

/* .side-main {
  width: 400px;
  height: fit-content;
  background-color: rgba(250, 235, 215, 0.718);
} */
