body {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  margin: 0 auto; /* Vendosja në qendër horizontale */
  min-height: 100vh;
  color: antiquewhite;
  background-color: #004aad;
}

.main {
  display: flex;
}

.side-main {
  width: 400px;
  height: fit-content;
  background-color: rgba(250, 235, 215, 0.718);
}

.main-content {
  flex-grow: 1;
}
