.footer-news,
.footer {
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-copy {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100%;
  height: 50px;
  background-color: #004aad;
  /* Add any other styling you need for the footer container */
}

.centered-text {
  text-align: center; /* Center the text horizontally within the div */
}

.links {
  list-style: none;
  padding-left: 0;
}

.links a {
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact a {
  text-decoration: none;
}
