.edit-button {
  margin: 25px 25px 0px 0px;
}
.edit-img {
  width: 500px;
}
.edit-content {
  background-color: #004bad;
  padding-top: 30px;
  padding-bottom: 30px;
}
.edit-seller-head {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
