.services {
  margin-top: 25px;
}

.header-services {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-content {
  align-items: center;
  text-align: center;
  padding: 25px;
  margin-top: 35px;
  border: 1px solid;
}

.services-content h3 {
  margin: 55px 0px;
}

/* Responsive paragraph */
.services-content p {
  max-height: 3em; /* Adjust the height as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .services-content {
    flex-direction: column;
  }

  .services-content h3 {
    margin: 20px 0px;
  }
}
